.container{
    background: url("/Page/Form/static/background.png") center;
    background-size:cover;
    position: relative;
    overflow: auto;
}

.frame{
    background: url("/Page/Form/static/form.png");
    background-size: cover;
    width: 70%;
    margin: 0px 15%;
    padding: 20px 20px;
}

.head{
    color: #000;
    font-size: 32px;
    font-weight: bold;
    text-shadow: -5px -5px 10px #7f7f7f;
    text-align: center;
    margin: 30px auto 50px auto;
}

.content{
    width:80%;
    margin:20px 10%;
}

.title{
    margin-left: -20px;
    text-align: left;
}

.titleImg{
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

.titleText{
    font-size: 20px;
    font-weight: bold;
    color: #f5cd37;
    text-shadow: -2px -2px 5px #000;
    vertical-align: middle;
    margin: auto 10px;
}

.baseinfo{
    width: 50%;
    float: left;
}

.baseinfo>tbody>tr{
    height: 30px;
}


.photoUp{
    display: inline-block;
    width:50%;
    height: 210px;/* 7*30 px*/
}
.img{
    width: 50%;
    height: 150px;
    text-align: center;
    margin: 10px auto;
}
.img>img{
    max-width: 100%;
    max-height: 150px;
    width: auto;
    height: auto;
}
.aUp{
    text-align: center;
    color: #0074D9;
}
.aUp:hover{
    cursor: pointer;
    color: #000088;
}
.text{
    text-align: center;
    color: #7f7f7f;
}

.label{
    width:25%;
}

.label>small{
    color: #FF0000;
    font-size: 15px;
}

.input{
    background-color: inherit;
    border: 1px solid #7f7f7f;
    border-radius: 2px;
    width: 80%;
    height: 25px;
    padding: 1px 5px;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}

.sex{
    width:80%;
}

.radio{
    margin-right: 10px;
}

.introduction, .others, .files{
    width: 100%;
}

.introduction>tbody>tr, .others>tbody>tr{
    height: 30px;
}

.introduction>tbody>tr>td>small{
    color: transparent;
    font-size: 15px;
}

.introduction>tbody>tr>.label{
    width: 12.5%;
}

.introduction>tbody>tr>td>.input, .others>tbody>tr>td>.input{
    width: 100%;
}

.introduction>tbody>tr{
    min-height: 30px;
}

.skills{
    width: 100%;
}

.skills>tbody>tr>td{
    width: 20%;
}

.skills>tbody>tr>td>.input{
    width: 100%;
}

.area{
    background-color: inherit;
    border: 1px solid #7f7f7f;
    border-radius: 2px;
    width: 100%;
    padding: 1px 5px;
    height: 200px;
    resize:none;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}

.areaTr{
    vertical-align: top;
}

.areaTr>td>.label{
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    line-height: 2;
}


.others>tbody>.areaTr>td>.area{
    margin-left: 30px;
}

.filename{
    display: inline-block;
}

.fileButton{
    display: inline-block;
    margin: auto 10px;
    color: blue;
}

.fileButton:hover{
    cursor: pointer;
    color: #000088;
}
.btnBox{
    text-align: center;
}
.btnBox>button{
    display: inline-block;
    border:0;
    border-radius:5px;
    font-size:16px;
    width: 120px;
    height: 40px;
    margin: 20px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.btnBox>.submitBtn{
    background-color:#f4cc3c;
}
.btnBox>.saveBtn{
    background-color: #999999;
    color:white;
}

:global(#loading){
    display: none;
    position: fixed;
    width: 200px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.49);
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -100px;
    border-radius: 10px;
    box-shadow: 0 0 20px;
}
:global(.cssload-container){
    margin-top: 30px;
    margin-bottom: 20px;
}
:global(.loading-text){
    text-align: center;
    color: #FFFFFF;
}
:global(.loading-button){
    text-align: center;
    color: #000000;
    height: 30px;
    width: 100px;
    line-height: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    margin: 10px auto;
    transition:background-color 0.3s linear
}
:global(.loading-button:hover){
    cursor: pointer;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px #ffffff;
}