.container{
    width:100%;
    height: 100%;
    background: url("/Page/Member/static/memberBackground.png") center;
    background-size:cover;
    position: relative;
}
.tagBox{
    text-align: center;
    width:100%;
    position: absolute;
    margin-top: 2%;
}
.tagBox>.tag{
    width:130px;
    height:40px;
    line-height:40px;
    font-size:18px;
    color:#747373;
    display: inline-block;
    margin-left: 3%;
    margin-right:3%;
    border: 1px solid #747373;
    cursor:pointer;
}
.tagBox>.tag:hover{
    color:#f5cd37;
    border-color: #f5cd37;
}