.footer{
    position: absolute;
    bottom:0;
    width:100%;
    min-width:1080px;
    height:60px;
    background: url("/Common/Footer/static/footer.png") center;
    background-size:cover;
    text-align: center;
}
.topBar>li{
    display: inline-block;
    margin-right:4%;
    margin-top: 5px;
}
.copyright{
    margin-top: 5px;
    font-size: 14px;
}
