.infoBox{
    position: absolute;
    width:80%;
    left:0;
    right:0;
    margin:auto;
}
.infoBox .img{
    width:60%;
    float:left;
}
.infoBox .info{
    width:40%;
    height:100%;
    color:white;
    float:left;
    position: relative;
}
.infoBox .info>.block{
    position: absolute;
    left:0;
    right:0;
    width:50px;
    height:50px;
    background-color: #f5cd37;
}
.infoBox .info>.intro{
    position: relative;
    left:0;
    right:0;
    width:85%;
    margin: 20% auto;
    z-index: 10;
    overflow-y:scroll;
}
.infoBox .info>.shelter{
    position: absolute;
    width:100%;
    background-color: black;
    opacity: 0.1;
    top:0;
    z-index:9;
}
:global(.box){
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
    -ms-transition: opacity 0.5s ease-in;
    -o-transition: opacity 0.5s ease-in;
    transition: opacity 0.5s ease-in;
}
:global(.active){
    opacity: 1;
}