.container{
    background: url("/Page/JoinUs/static/background.png") center;
    background-size:cover;
    position: relative;
}

.frame{
    background: url("/Page/JoinUs/static/frame.png");
    width: 590px;
    height: 800px;
    position: absolute;
    top:410px;
    right: 20px;
}

.button{
    position: absolute;
    top:655px;
    left:220px;
}

.button :hover{
    cursor: pointer;
}