.container{
    background: url("/Page/JoinUs/static/background.png") center;
    background-size:cover;
    position: relative;
}

.frame{
    background: url("/Page/JoinUs/static/frame.png");
<<<<<<< HEAD
    width: 590px;
    height: 800px;
=======
    background-size: contain;
    width: 295px;
    height: 400px;
>>>>>>> 3c66ccae0b259997f6ea2093fb0423630a423efd
    position: absolute;
    top: 83px;
    right: 20px;
}

.button{
    position: absolute;
    top: 280px;
    right: 5px;
    width: 170px;
    height: 56px;
}

.button:hover{
    cursor: pointer;
}