.container{
    background: url("/Page/JoinUs/static/background.jpg") center;
    background-size:cover;
    position: static;
}

.frame{
    background: url("/Page/JoinUs/static/1.png") -5px 0;
    background-size: contain;
    position: relative;
    top:83px;
    width: 670px;
    height: 400px;
    margin:0px auto;

}

.button{
    left:250px;
    position: absolute;
    top: 290px;
    width: 170px;
    height: 56px;
}

@media screen and (min-width:1600px){
    .frame{
        top:70px;
        background-size:120%;
        background-position: -80px -40px;
        width:837.5px;
        height:500px;
    }
    .button{
        left:319px;
        top:370px;
        width:200px;
        height:60px;
    }
}


.button:hover{
    cursor: pointer;
}