.container{
    width:100%;
    background: url("/Page/Home/static/homeBackground.png") center;
    background-size:cover;
}
.shelter{
    position: absolute;
    width:100%;
    background-color:black;
    opacity: 0.5;
    z-index:5;
}
