.container{
    background: url("/Page/Wish/static/background.png") center;
    background-size:cover;
    position: relative;
}

.content{
    width: 80%;
    height: 50%;
    left:10%;
    top:20%;
    position: absolute;
    text-align: center;
    vertical-align: center;
}

.title{
    font-size: 30px;
    color: #FFFFFF;
    z-index: 100;
    position: relative;
    text-align: center;
    line-height: 60px;
}

.td{
    width: 25%;
}

.choice{
    width: 120px;
    height: 120px;
    margin: 15px;
    border-radius:50%;
    overflow:hidden;
    transition: width 0.5s, height 0.5s, margin 0.5s;
    -moz-transition: width 0.5s, height 0.5s, margin 0.5s; /* Firefox 4 */
    -webkit-transition: width 0.5s, height 0.5s, margin 0.5s; /* Safari 和 Chrome */
    -o-transition: width 0.5s, height 0.5s, margin 0.5s; /* Opera */
}

.choice:hover{
    width: 150px;
    height: 150px;
    margin: 0;
    animation:shadow 2s infinite;
    -moz-animation:shadow 2s infinite; /* Firefox */
    -webkit-animation:shadow 2s infinite; /* Safari and Chrome */
    -o-animation:shadow 2s infinite; /* Opera */
}

@keyframes shadow
{
    0% {box-shadow:0 0 0 0 #FFFFFF}
    50% {box-shadow:0 0 30px 0 #FFFFFF}
    100% {box-shadow:0 0 0 0 #FFFFFF}
}

@-moz-keyframes shadow /* Firefox */
{
    0% {box-shadow:0 0 0 0 #FFFFFF}
    50% {box-shadow:0 0 30px 0 #FFFFFF}
    100% {box-shadow:0 0 0 0 #FFFFFF}
}

@-webkit-keyframes shadow /* Safari and Chrome */
{
    0% {box-shadow:0 0 0 0 #FFFFFF}
    50% {box-shadow:0 0 30px 0 #FFFFFF}
    100% {box-shadow:0 0 0 0 #FFFFFF}
}

@-o-keyframes shadow /* Opera */
{
    0% {box-shadow:0 0 0 0 #FFFFFF}
    50% {box-shadow:0 0 30px 0 #FFFFFF}
    100% {box-shadow:0 0 0 0 #FFFFFF}
}

.cover{
    display: none;
    width: 100%;
    height: 100%;
    background: #000000;
    z-index: 50;
    position: relative;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    opacity:0.5;
}

.text{
    display: block;
    color: #FFFFFF;
}
