.carousel{
    width:100%;
    margin:0px auto;
    overflow: hidden;
}
.itemBox{
    height:100%;
    position: relative;
}
:global(.carousel .item){
    position: absolute;
    display: none;
    -webkit-transition-property: left, width, top;
    -moz-transition-property: left, width, top;
    -ms-transition-property: left, width, top;
    -o-transition-property: left, width, top;
    transition-property: left, width, top;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -ms-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
:global(.carousel .slideLeft),
:global(.carousel .slideActive.left),
:global(.carousel .slideLtShow.right){
    display: block;
    width:25%;
    top:0;
    left: 4.5%;
    z-index:1;
}
:global(.carousel .slideRight),
:global(.carousel .slideActive.right),
:global(.carousel .slideRtShow.left){
    display: block;
    width:25%;
    top:0;
    left:70%;
    z-index:1;
}
:global(.carousel .slideActive),
:global(.carousel .slideLeft.right),
:global(.carousel .slideRight.left){
    display: block;
    z-index: 9;
    left:27%;
    top:-15.2%;
    width:45%;
}
:global(.carousel .slideLeft.left),:global(.carousel .slideLtShow){
    display: block;
    width:25%;
    left:-25%;
}
:global(.carousel .slideRight.right),:global(.carousel .slideRtShow){
    display: block;
    width:25%;
    left:100%;
}
.pointers img{
    width:100%;
}
.pointers>div{
    position:absolute;
    z-index:10;
    cursor:pointer;
}
.pointers>.ltPrt{
    left:10%;
    top:40%;
    width:5%;
}
.pointers>.rtPrt{
    top:40%;
    width:5%;
    right:10%;
}
.info{
    width:100%;
    position:absolute;
    height:30px;
    line-height:30px;
    z-index:11;
    top:75%;
    text-align: center;
}
.info>span{
    padding:10px 20px;
    color:white;
    font-size:24px;
    position: relative;
}
.info>span>span{
    position: relative;
    z-index:11;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.info .fontShelter{
    position: absolute;
    z-index:10;
    top:7%;
    background-color: black;
    border-radius: 5px;
    opacity: 0.8;
    width:100%;
    height:44px;
    left:0;
    right:0;
    margin:auto;
}
.control{
    height:30px;
    z-index:10;
    position: absolute;
    top:82%;
    left:0;
    right:0;
    margin:auto;
    text-align: center;
}
.circle{
    width:12px;
    height:12px;
    border-radius: 100%;
    background-color: white;
    display: inline-block;
    margin-left: 10px;
    margin-right:10px;
    cursor:pointer;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
}